<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript" src="./js/vue.js"></script>
</head>
<body>
	<div id="app">
		<input type="text" v-model="name">
		<input type="text" v-model="age">
		<button v-on:click="age++">加</button>
		<button v-on:click="age--">减</button>
		<button @click="add">2加</button>
		<button @click="rem">2减</button>
	</div>
	<script type="text/javascript">
		//实例化Vue
		var app=new Vue({
			el:"#app",
			data:{
				name:"张三",
				age:22
			},
			methods:{
				add:function(){
					//app.age++;
					this.age++;
				},
				rem(){
					//app.age++;
					this.age--;
				}
			}
		});
	</script>
</body>
</html>