<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript" src="./js/vue.js"></script>
</head>
<body>
	<div id="app">
		{{num}}
		<form action="#">
			姓名:<input type="text" v-model="user.name">
			年龄:<input type="text" v-model="user.age">
			爱好:<input type="text" v-model="user.hobby">
		</form>
	</div>
	<script type="text/javascript">
		var app=new Vue({
			el:"#app",
			data:{
				num:19,
				user:{
					name:"张三",age:"18",hobby:"[足球,篮球]"
					
				}
			},
			created(){
				
			}
		});
	</script>
</body>
</html>